application:
  restart: always
  ports:
    - 8084:80
  tty: true
  labels:
    project: ${RANCHER_PROJECT_NAME}
    purpose: application
  image: ${IMAGE_TAG_NAME}
  log_driver: json-file
  log_opt:
    labels: project,purpose